[View in Colaboratory](https://colab.research.google.com/github/vernongayle/aqmen_google_colaboratory/blob/master/notebook_1.ipynb)

# AQMEN 

## Notebook 1

### Professor Vernon Gayle University of Edinburgh

In [1]:
# getting set up
import sys

In [2]:
print('Hello, Colaboratory from Python {}!'.format(sys.version_info[0]))

Hello, Colaboratory from Python 3!

In [3]:
import pandas as pd

This is the first attempt at loading the excel file wemp

In [4]:
from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving wemp.csv to wemp.csv
User uploaded file "wemp.csv" with length 28888 bytes

The file wemp.xlsx has been chosen from a local drive

In [5]:
ls

datalab/  wemp.csv

In [7]:
print (uploaded['wemp.csv'][:200].decode('utf-8') + '...')

case,femp,mune,time,und1,und5,age
1,1,0,10,1,1,23
1,0,0,11,0,1,24
1,0,0,12,0,1,25
1,0,0,13,0,1,26
6,1,0,0,0,0,42
6,1,0,1,0,0,43
6,0,0,2,0,0,44
6,0,0,3,0,0,45
6,1,0,4,0,0,46
6,1,0,5,0,0,47
6...

In [8]:
import pandas as pd
import io

df = pd.read_csv(io.StringIO(uploaded['wemp.csv'].decode('utf-8')))
df

      case  femp  mune  time  und1  und5  age
0        1     1     0    10     1     1   23
1        1     0     0    11     0     1   24
2        1     0     0    12     0     1   25
3        1     0     0    13     0     1   26
4        6     1     0     0     0     0   42
5        6     1     0     1     0     0   43
6        6     0     0     2     0     0   44
7        6     0     0     3     0     0   45
8        6     1     0     4     0     0   46
9        6     1     0     5     0     0   47
10       6     1     0     6     0     0   48
11       6     1     0     7     0     0   49
12       6     1     0     8     0     0   50
13       6     1     0     9     0     0   51
14       6     1     0    10     0     0   52
15       6     1     0    11     0     0   53
16       6     1     0    12     0     0   54
17       6     1     0    13     0     0   55
18      20     1     0     6     0     0   24
19      20     1     0     7     0     0   25
20      20     1     0     8     0     0   26
21      20     0     0     9     1     1   27
22      20     1     0    10     0     1   28
23      20     1     0    11     0     1   29
24      20     1     0    12     0     1   30
25      20     1     0    13     1     1   31
26      24     1     0     0     0     0   33
27      24     1     0     1     0     0   34
28      24     1     0     2     0     0   35
29      24     1     0     3     0     0   36
...    ...   ...   ...   ...   ...   ...  ...
1550   995     0     0    12     0     0   46
1551   995     0     0    13     0     0   47
1552   999     1     0     0     0     0   43
1553   999     1     0     1     0     0   44
1554   999     1     0     2     0     0   45
1555   999     1     0     3     0     0   46
1556   999     1     0     4     0     0   47
1557   999     1     0     5     0     0   48
1558   999     1     0     6     0     0   49
1559   999     1     0     7     0     0   50
1560   999     1     0     8     0     0   51
1561   999     1     0     9     0     0   52
1562   999     1     0    10     0     0   53
1563   999     1     0    11     0     0   54
1564   999     1     0    12     0     0   55
1565   999     1     0    13     0     0   56
1566  1003     0     0     0     0     0   38
1567  1003     0     0     1     0     0   39
1568  1003     1     0     2     0     0   40
1569  1003     1     0     3     0     0   41
1570  1003     1     0     4     0     0   42
1571  1003     1     0     5     0     0   43
1572  1003     1     0     6     0     0   44
1573  1003     1     0     7     0     0   45
1574  1003     1     0     8     0     0   46
1575  1003     1     0     9     0     0   47
1576  1003     1     0    10     0     0   48
1577  1003     1     0    11     0     0   49
1578  1003     1     0    12     0     0   50
1579  1003     1     0    13     0     0   51

[1580 rows x 7 columns]

In [9]:
df['Int']=1

In [10]:
import statsmodels.api as sm

/usr/local/lib/python3.6/dist-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [11]:
independentVar = ['mune', 'und5', 'Int']
logReg = sm.Logit(df['femp'] , df[independentVar]) 
answer = logReg.fit()

Optimization terminated successfully.
         Current function value: 0.556127
         Iterations 5

In [12]:
answer.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   femp   No. Observations:                 1580
Model:                          Logit   Df Residuals:                     1577
Method:                           MLE   Df Model:                            2
Date:                Fri, 01 Jun 2018   Pseudo R-squ.:                  0.1446
Time:                        12:20:47   Log-Likelihood:                -878.68
converged:                       True   LL-Null:                       -1027.2
                                        LLR p-value:                 3.056e-65
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
mune          -1.7033      0.236     -7.222      0.000      -2.166      -1.241
und5          -1.7335      0.122    -14.187      0.000      -1.973      -1.494
Int            1.3068      0.074     17.561      0.000       1.161       1.453
==============================================================================
"""